<% layout('layouts/boilerPlate') %>
<body>
  <h1>
   list of homes
  </h1>
  <!-- <form action="/listing/new" method="get">
    <button>Add New Home</button>
  </form> -->
  <ul>
    <% for(let listing of allListing) { %>
    <li><a href="/listing/<%= listing._id %>"><%= listing.title %></a></li>
   <% } %>
  </ul>
</body>
